.box-1 {
  width: 730px;
  height: 1000px;
  clip-path: polygon(
    0% 3.922%,
    0% 3.922%,
    0.029% 3.285%,
    0.113% 2.682%,
    0.247% 2.119%,
    0.428% 1.606%,
    0.649% 1.149%,
    0.907% 0.757%,
    1.198% 0.438%,
    1.516% 0.2%,
    1.857% 0.051%,
    2.216% 0%,
    97.784% 0%,
    97.784% 0%,
    98.143% 0.051%,
    98.484% 0.2%,
    98.802% 0.438%,
    99.093% 0.757%,
    99.351% 1.149%,
    99.572% 1.606%,
    99.753% 2.119%,
    99.887% 2.682%,
    99.971% 3.285%,
    100% 3.922%,
    100% 62.473%,
    100% 62.473%,
    99.978% 62.948%,
    99.916% 63.398%,
    99.816% 63.819%,
    99.682% 64.203%,
    99.518% 64.545%,
    99.326% 64.839%,
    99.11% 65.079%,
    98.873% 65.259%,
    98.619% 65.372%,
    98.351% 65.414%,
    89.733% 65.533%,
    89.733% 65.533%,
    89.376% 65.589%,
    89.037% 65.741%,
    88.722% 65.981%,
    88.434% 66.301%,
    88.178% 66.693%,
    87.958% 67.149%,
    87.78% 67.661%,
    87.646% 68.222%,
    87.563% 68.822%,
    87.535% 69.455%,
    87.535% 96.078%,
    87.535% 96.078%,
    87.506% 96.715%,
    87.422% 97.318%,
    87.287% 97.881%,
    87.107% 98.395%,
    86.886% 98.851%,
    86.627% 99.243%,
    86.337% 99.562%,
    86.019% 99.8%,
    85.678% 99.949%,
    85.319% 100%,
    73.33% 100%,
    48.887% 100%,
    2.216% 100%,
    2.216% 100%,
    1.857% 99.949%,
    1.516% 99.8%,
    1.198% 99.562%,
    0.907% 99.243%,
    0.649% 98.851%,
    0.428% 98.395%,
    0.247% 97.881%,
    0.113% 97.318%,
    0.029% 96.715%,
    0% 96.078%,
    0% 3.922%
  );
}

.box-2 {
  width: 420px;
  margin-left: -70px;
  clip-path: polygon(
    21.736% 3.922%,
    21.736% 3.922%,
    21.787% 3.285%,
    21.933% 2.682%,
    22.167% 2.119%,
    22.482% 1.606%,
    22.868% 1.149%,
    23.318% 0.757%,
    23.825% 0.438%,
    24.379% 0.2%,
    24.974% 0.051%,
    25.601% 0%,
    96.135% 0%,
    96.135% 0%,
    96.762% 0.051%,
    97.357% 0.2%,
    97.911% 0.438%,
    98.418% 0.757%,
    98.868% 1.149%,
    99.254% 1.606%,
    99.569% 2.119%,
    99.803% 2.682%,
    99.949% 3.285%,
    100% 3.922%,
    100% 66.025%,
    100% 66.025%,
    99.949% 66.661%,
    99.803% 67.264%,
    99.569% 67.827%,
    99.254% 68.34%,
    98.868% 68.797%,
    98.418% 69.189%,
    97.911% 69.508%,
    97.357% 69.746%,
    96.762% 69.895%,
    96.135% 69.946%,
    72.222% 69.946%,
    72.222% 69.946%,
    71.595% 69.997%,
    71.001% 70.146%,
    70.446% 70.384%,
    69.94% 70.703%,
    69.489% 71.095%,
    69.103% 71.552%,
    68.789% 72.065%,
    68.555% 72.628%,
    68.408% 73.232%,
    68.357% 73.868%,
    68.357% 96.078%,
    68.357% 96.078%,
    68.307% 96.715%,
    68.16% 97.318%,
    67.926% 97.881%,
    67.612% 98.395%,
    67.226% 98.851%,
    66.775% 99.243%,
    66.269% 99.562%,
    65.714% 99.8%,
    65.12% 99.949%,
    64.493% 100%,
    3.865% 100%,
    3.865% 100%,
    3.238% 99.949%,
    2.643% 99.8%,
    2.089% 99.562%,
    1.582% 99.243%,
    1.132% 98.851%,
    0.746% 98.395%,
    0.431% 97.881%,
    0.197% 97.318%,
    0.051% 96.715%,
    0% 96.078%,
    0% 72.887%,
    0% 72.887%,
    0.038% 72.41%,
    0.148% 71.958%,
    0.324% 71.536%,
    0.559% 71.15%,
    0.849% 70.807%,
    1.187% 70.514%,
    1.566% 70.274%,
    1.982% 70.096%,
    2.428% 69.985%,
    2.899% 69.946%,
    17.871% 69.946%,
    17.871% 69.946%,
    18.498% 69.895%,
    19.093% 69.746%,
    19.647% 69.508%,
    20.154% 69.189%,
    20.604% 68.797%,
    20.99% 68.34%,
    21.305% 67.827%,
    21.539% 67.264%,
    21.685% 66.661%,
    21.736% 66.025%,
    21.736% 3.922%
  );
}
